.train-card {
    display: block;
    position: relative;
    width: 100%;
    color: var(--text-color);
    background-color: var(--card-color);
    border-radius: 12px;
    box-sizing: border-box;
    padding: 10px 10px 10px 35px;
    box-shadow:
            0 3.4px 2.7px rgba(0, 0, 0, 0.006),
            0 8.7px 6.9px rgba(0, 0, 0, 0.009),
            0 17.7px 14.2px rgba(0, 0, 0, 0.011),
            0 36.5px 29.2px rgba(0, 0, 0, 0.014),
            0 100px 80px rgba(0, 0, 0, 0.02)
    ;
    overflow: hidden;
    font-weight: 700;
    margin-bottom: 12px;
    -webkit-transition: transform 0.2s;
    -moz-transition: transform 0.2s;
    -ms-transition: transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;
}

/*.train-card:hover {*/
/*    -webkit-transition: transform 0.2s;*/
/*    -moz-transition: transform 0.2s;*/
/*    -ms-transition: transform 0.2s;*/
/*    -o-transition: transform 0.2s;*/
/*    transition: transform 0.2s;*/
/*    -webkit-transform: translateY(-2px);*/
/*    -moz-transform: translateY(-2px);*/
/*    -ms-transform: translateY(-2px);*/
/*    -o-transform: translateY(-2px);*/
/*    transform: translateY(-2px);*/
/*}*/



.train-card .side-color {
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    width: 25px;
    height: 100%;
}

.train-card .train-desc {
    float: left;
    text-align: left;
}

.train-card .train-name {
    font-size: 26px;
    margin: 0;
}

.train-card .train-desc-info {
    font-size: 16px;
}

.train-card .train-eta {
    display: table;
    float: right;
    text-align: center;
    height: auto;
}

.train-eta .train-eta-val {
    display: table-cell;
    vertical-align: middle;
    font-size: 32px;
    font-weight: 700;
    margin: 0;
    padding-right: 10px;
}

.train-card .train-eta .arr {
    display: table-cell;
    vertical-align: middle;
    font-size: 40px;
    transform: scaleY(2);
}

.train-eta .train-eta-unit {
    margin: 0;
    font-size: 24px;
    display: block;
}